@use '@/styles/tokens/colors' as *;
@use '@/styles/tokens/spacing' as *;
@use '@/styles/tokens/font/weight.scss' as *;
@use '@/styles/tokens/font/size.scss' as *;
@use '@/styles/tools/convertPxToRem.scss' as *;

$input-color: $color-low-darkest;
$input-border-color: $color-primary-darkest;
$input-background-color: $color-primary-lightest;
$input-background-color-focus: $color-high-lightest;
$input-placeholder-color: $color-primary-darkest;
$input-icon-color: $color-primary-darkest;
$input-padding: $spacing-xxxs-vh $spacing-xxs-vh;
$input-font-weight: $font-weight-regular;
$input-font-size: #{pxrem($font-size-xxs)}rem;

//big
$input-padding-big: $spacing-xxs-vh $spacing-md-vh;