$color-primary-base: #15ade1;
$color-primary-lightest: #f1fcff;
$color-primary-darkest: #1b3954;

$color-high-lightest: #ffffff;

$color-low-lightest: #000000;

$color-low-transparent-base: rgba(0,0,0,.5);