@use '@/styles/tokens/borders.scss' as *;
@use '@/styles/tokens/colors.scss' as *;
@use '@/styles/tokens/spacing.scss' as *;
@use '@/styles/snippets/fonts.scss' as *;
@use '@/styles/utils/loading.scss' as *;

@mixin table () {
	position: relative;

	box-sizing: border-box;
	overflow: hidden;

	width: 100%;

	border: 1px solid $color-primary-darkest;	
	border-collapse: separate;

	border-spacing: 0px;	

	thead {
		width: 100%;

		background-color: $color-primary-base;
	}

	tr {
		width: 100%;

		box-shadow: none;

		&:not(:first-child) {

			td {
				border-top: 0px;
			}
		}

		&:last-of-type {

			td {
				border-bottom: 0px;
			}
		}
	}

	th {
		@extend %font_xs_bold;

		color: $color-high-lightest;

		text-transform: uppercase;
	}

	td {
		@extend %font_xs_regular;
		
		color: $color-low-darkest;
		border-top: $border-width-small solid $color-primary-darkest;
		border-bottom: $border-width-small solid $color-primary-darkest;
	}

	td,th {
		padding: $spacing-sm-vh 0px;

		text-align: left;

		&:first-of-type {
			padding-left: $spacing-md-vh;
		}

		&:last-of-type {
			padding-right: $spacing-md-vh;

			text-align: right;
		}	

		&:not(:last-child) {
			padding-right: $spacing-xxs-px;
		}
	}

	.table_loading {
		@include loading($size: 64px, $border-width: 4px);

		position: absolute;
		z-index: 2;
	
		display: flex;
		align-items: center;
		justify-content: center;
	
		width: 100%;
		height: 100%;	
	
		background-color: $color-low-transparent-base;}
}

%table {
	@include table;
}

%table_container {
	overflow-x: auto;

	width: 100%;
}